In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier

In [13]:
train= pd.read_csv('data/spaceship-titanic/train.csv')
test= pd.read_csv('data/spaceship-titanic/test.csv')

In [14]:
train.head()

  PassengerId HomePlanet CryoSleep  ... VRDeck               Name  Transported
0     0001_01     Europa     False  ...    0.0    Maham Ofracculy        False
1     0002_01      Earth     False  ...   44.0       Juanna Vines         True
2     0003_01     Europa     False  ...   49.0      Altark Susent        False
3     0003_02     Europa     False  ...  193.0       Solam Susent        False
4     0004_01      Earth     False  ...    2.0  Willy Santantines         True

[5 rows x 14 columns]

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [12]:
train.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [16]:
testids = test['PassengerId']
x_train=train.drop(columns=['PassengerId', 'Name','Transported'],axis=1)
y_train=train['Transported']
x_test=test.drop(columns=['PassengerId'], axis=1)

In [17]:
x_train.head()

  HomePlanet CryoSleep  Cabin  ... ShoppingMall     Spa VRDeck
0     Europa     False  B/0/P  ...          0.0     0.0    0.0
1      Earth     False  F/0/S  ...         25.0   549.0   44.0
2     Europa     False  A/0/S  ...          0.0  6715.0   49.0
3     Europa     False  A/0/S  ...        371.0  3329.0  193.0
4      Earth     False  F/1/S  ...        151.0   565.0    2.0

[5 rows x 11 columns]

In [19]:
x_test.head()

  HomePlanet CryoSleep  Cabin  ...     Spa  VRDeck              Name
0      Earth      True  G/3/S  ...     0.0     0.0   Nelly Carsoning
1      Earth     False  F/4/S  ...  2823.0     0.0    Lerome Peckers
2     Europa      True  C/0/S  ...     0.0     0.0   Sabih Unhearfus
3     Europa     False  C/1/S  ...   181.0   585.0  Meratz Caltilter
4      Earth     False  F/5/S  ...     0.0     0.0   Brence Harperez

[5 rows x 12 columns]

In [20]:
x_test.drop(columns=['Name'])

     HomePlanet CryoSleep     Cabin  ... ShoppingMall     Spa VRDeck
0         Earth      True     G/3/S  ...          0.0     0.0    0.0
1         Earth     False     F/4/S  ...          0.0  2823.0    0.0
2        Europa      True     C/0/S  ...          0.0     0.0    0.0
3        Europa     False     C/1/S  ...          0.0   181.0  585.0
4         Earth     False     F/5/S  ...        635.0     0.0    0.0
...         ...       ...       ...  ...          ...     ...    ...
4272      Earth      True  G/1496/S  ...          0.0     0.0    0.0
4273      Earth     False       NaN  ...         17.0    10.0  144.0
4274       Mars      True   D/296/P  ...          0.0     0.0    0.0
4275     Europa     False   D/297/P  ...          0.0     0.0  523.0
4276      Earth      True  G/1498/S  ...          0.0     0.0    0.0

[4277 rows x 11 columns]

In [21]:
y_train.head()

0    False
1     True
2    False
3    False
4     True
Name: Transported, dtype: bool

In [22]:
x_train.head()

  HomePlanet CryoSleep  Cabin  ... ShoppingMall     Spa VRDeck
0     Europa     False  B/0/P  ...          0.0     0.0    0.0
1      Earth     False  F/0/S  ...         25.0   549.0   44.0
2     Europa     False  A/0/S  ...          0.0  6715.0   49.0
3     Europa     False  A/0/S  ...        371.0  3329.0  193.0
4      Earth     False  F/1/S  ...        151.0   565.0    2.0

[5 rows x 11 columns]

In [23]:
num_features = x_train.select_dtypes(include=['int64', 'float64']).columns
cat_features = x_train.select_dtypes(include=['object']).columns

In [24]:
num_features.head()

AttributeError: 'Index' object has no attribute 'head'

In [25]:
num_features

Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

In [26]:
cat_features

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP'], dtype='object')

In [30]:
Preprocessor = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),
            ('scaler', StandardScaler())
        ]), num_features),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),
            ('onehot', OneHotEncoder(handle_unknown='ignore'))
        ]), cat_features)
    ]
)

full_pipeline = Pipeline(steps=[
    ('preprocessor', Preprocessor),
    ('classifier', RandomForestClassifier())
    
    ])

full_pipeline.fit(x_train, y_train)
y_pred = full_pipeline.predict(x_test)

submission = pd.DataFrame({
    'PassengerId': testids,
    'Transported': y_pred
})

submission.to_csv('data/spaceship-titanic/submission2.csv', index=False)

import joblib

joblib.dump(full_pipeline, 'data/spaceship-titanic/model2.pkl')

# macsalaamo

['data/spaceship-titanic/model2.pkl']